@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

/* Cores principais */
:root {
  --background: #e3f2fd; /* Azul neutro */
  --foreground: #0d47a1; /* Azul escuro */
  --text-primary: #000000; /* Texto principal preto */
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-primary: #000000;
  }
}

/* Estilização global */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Arial", sans-serif;
}

/* Ajustando cor do placeholder */
::placeholder {
  color: var(--text-primary);
  opacity: 1;
  font: black;
}

/* Ajustando texto do select */
select {
  color: var(--text-primary);
  font: black;
}

/* Ajustando texto do botão */
button {
  color: var(--text-primary);
  font: black;
}
